A
{
	color: #cd2122;
}
#loginLinks
{
	color:#8fc1c6;
}
#hor_nav LI.active A
{
	background: #0092C0;
}
#hor_nav LI A:hover, #hor_nav LI:hover A, #hor_nav LI.sfHover A
{
	background: rgba(9, 197, 182, 0.75);
}
#hor_nav LI LI A, #hor_nav LI LI.active A, #hor_nav LI LI A:hover
{
	background: rgba(9, 197, 182, 0.75);
	height:auto;
}

.slim-caption
{
	color: #cd2122;
}
.site-title
{
	color: #cd2122;
}
.site-description
{
	color: #cd2122;
}
#hor_nav
{
	background-color: #73afb6;
}
.well
{
	background-color: #342800;
}
.header .inputbox
{
border: 1px solid #cd2122;
}
#footer_inner #page_header_h3
{
border-bottom: 4px solid #cd2122;
}
