div#addColBtnDiv{
	/*position:relative;*/
	display:inline;
	
	
}

div#division{
	display:inline;
	float:left;
}

input#addColBtn{
	/*position:relative;*/
	/*left: 200px;*/
	height: 100px;
	border-radius: 0px;
	/*right:-50;*/
	/*border:0px;*/
}

input#addLineBtn{
	width:100px;
	border-radius: 0px;
	
}

table#table1{
	border: 1px solid black;
	height: 100px;
	width:100px;
	
}

td.mTable {
	text-align:center;
}
				